@media (max-width: 1200px) {
  .header {
    padding: 30px;
  }

  .home {
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    gap: 30px;
  }

  .home .informations {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }
}

.projects .project {
  max-width: 420px;
  min-height: 400px;
  position: relative;
  display: none;
}

.projects .project img {
  height: auto;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.projects .projects-container {
  padding: 0 30px;
}

@media (max-width: 425px) {
  .home .informations h1 {
    font-size: 30px;
  }

  .home .informations p {
    font-size: 16px;
  }

  .home .photo-container img {
    max-width: 320px;
  }

  .projects {
    padding: 30px;
  }
}
